
<nav class="navbar navbar-expand-md navbar-dark flex-column" aria-label="Main navigation">
    <div class="w-100 d-flex">
        <a class="navbar-brand mx-md-auto" href="/">
            <%= image_tag("logo.png", :class => "logo", :alt => "Yet Another Star Wars Guide", :height => "80px", :width => "auto") %>
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
<% if !is_home() %>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav text-center">
            <li class="nav-item">
                <%= link_to "Films", films_path, class: "#{current_section(films_path)} nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "characters", characters_path, class: "#{current_section(characters_path)} nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "starships", starships_path, class: "#{current_section(starships_path)} nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "vehicles", vehicles_path, class: "#{current_section(vehicles_path)} nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "planets", planets_path, class: "#{current_section(planets_path)} nav-link" %>
            </li>
        </ul>
    </div>
<% end %>
</nav>
